/JAVA/JavaProjects/NetBeansProjects_bkp/regist-jsp-servlet-jdbc-ex/build/
/JAVA/JavaProjects/NetBeansProjects_bkp/nbproject/private/
/JAVA/JavaProjects/WebApplication1/nbproject/private/
/JAVA/JavaProjects/NetBeansProjects_bkp/Online Quiz Jsp servlet/nbproject/private/
/JAVA/JavaProjects/NetBeansProjects_bkp/Online Quiz Jsp servlet/build/
/JAVA/JavaProjects/NetBeansProjects_bkp/Online Quiz Jsp servlet/dist/
/JAVA/JavaProjects/NetBeansProjects_bkp/Doha/target/
/JAVA/JavaProjects/WebApplication1/build/
/JAVA/JavaProjects/WebApplication1/dist/
/JAVA/JavaProjects/NetBeansProjects_bkp/DohaForAll/nbproject/private/
/JAVA/JavaProjects/NetBeansProjects_bkp/DohaForAll/build/
/JAVA/JavaProjects/NetBeansProjects_bkp/DohaForAll/dist/
